
<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Perfils Table</h3>

            <div class="card-tools">
              <button
                class="btn btn-success"
                data-toggle="modal"
                data-target="#addNew"
                @click="openModalWindow"
              >
                Add New
                <i class="fas fa-user-plus fa-fw"></i>
              </button>
            </div>
          </div>

          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Pin</th>
                  <!-- <th>Type</th> -->
                  <th>Registered At</th>
                  <th>Modify</th>
                </tr>

                <tr v-for="perfil in perfils" :key="perfil.id">
                  <td>{{ perfil.id }}</td>
                  <td>{{ perfil.full_name }}</td>
                  <td>{{ perfil.username }}</td>
                  <td>{{ perfil.pin }}</td>
                  <!-- <td>{{ perfil.type | strToUpper}}</td> -->
                  <td>{{ perfil.created_at | formatDate}}</td>

                  <td>
                    <a href="#" data-id="perfil.id" @click="editModalWindow(perfil)">
                      <i class="btn btn-info">Edit</i>
                    </a>
                    |
                    <a href="#" @click="deletePerfil(perfil.id)">
                      <i class="btn btn-danger">Delete</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-footer"></div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="addNew"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Add New User</h5>
            <h5 v-show="editMode" class="modal-title" id="addNewLabel">Update User</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form @submit.prevent="editMode ? updatePerfil() : createPerfil()">
            <div class="modal-body">
              <div class="form-group">
                <input
                  v-model="form.full_name"
                  type="text"
                  name="full_name"
                  placeholder="Name"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('full_name') }"
                />
                <has-error :form="form" field="full_name"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.username"
                  type="text"
                  name="username"
                  placeholder="username"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('username') }"
                />
                <has-error :form="form" field="username"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.pin"
                  type="text"
                  name="pin"
                  id="pin"
                  placeholder="Enter pin"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('pin') }"
                />
                <has-error :form="form" field="pin"></has-error>
              </div>

              <!-- <div class="form-group">
        <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
            <option value="">Select Perfil Role</option>
            <option value="admin">Admin</option>
            <option value="user">Standard User</option>
            <option value="author">Author</option>
        </select>
        <has-error :form="form" field="type"></has-error>
              </div>-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
              <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      editMode: false,
      perfils: {},
      form: new Form({
        id: "",
        full_name: "",
        username: "",
        pin: ""
        // type: '',
      })
    };
  },
  methods: {
    editModalWindow(perfil) {
      this.form.clear();
      this.editMode = true;
      this.form.reset();
      $("#addNew").modal("show");
      this.form.fill(perfil);
    },
    updatePerfil() {
      this.form
        .put("/perfil/" + this.form.id)
        .then(() => {
          Toast.fire({
            icon: "success",
            title: "Perfil updated successfully"
          });

          Fire.$emit("AfterCreatedPerfilLoadIt");

          $("#addNew").modal("hide");
        })
        .catch(() => {
          console.log("Error.....");
        });

      this.loadPerfil();
    },
    openModalWindow() {
      this.editMode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },

    loadPerfil() {
      axios.get("/perfil").then(data => (this.perfils = data.data));

      //pick data from controller and push it into users object
    },

    createPerfil() {
      this.$Progress.start();

      this.form
        .post("/perfil")
        .then(() => {
          Fire.$emit("AfterCreatedPerfilLoadIt"); //custom events

          Toast.fire({
            icon: "success",
            title: "Pefil created successfully"
          });

          this.$Progress.finish();

          $("#addNew").modal("hide");
        })
        .catch(() => {
          console.log("Error......");
        });

      this.loadPerfil();
    },
    deletePerfil(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          //Send Request to server
          this.form
            .delete("/perfil/" + id)
            .then(response => {
              Swal.fire("Deleted!", "perfil deleted successfully", "success");
              this.loadPerfil();
            })
            .catch(() => {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
                footer: "<a href>Why do I have this issue?</a>"
              });
            });
        }
      });
    }
  },

  created() {
    this.loadPerfil();

    Fire.$on("AfterCreatedPefilLoadIt", () => {
      //custom events fire on
      this.loadPerfil();
    });
  }
};
</script> 